//- NOTE: this is a task metric, which is different from a workout metric
.metric(class=metric.name)
  label(for=metric.name) !{metric.name}
  if(name === 'direction')
    .select-container
      select.input-small.metric-value(name=metric.name)
        option(value="forward") forward
        option(value="backward") backward
  else
    .input-append
      input.metric-value.pull-left(name=metric.name, type="number", min="1", max="1000", value=metric.value)
      if(metric.units)
        .select.btn
          i.icon-sort.pull-right
          .select-container
            select.units.metric-units(data-metric=metric.name)
              for unit in units[metric.name]
                option(value=metric.unit, selected = unit === metric.units ? 'select' : null) !{abbr(unit)}