//- NOTE: this is a workout metric, which is different from a task metric
include ../includes/duration
if(type === 'duration')
  label(for="duration") duration
  - var seconds = 0
  - var minutes = 0
  if units === 'minutes'
    - minutes = value
  else if units === 'seconds'
    - seconds = value
  mixin duration(minutes, seconds)
else if(type === 'rounds')
  label(for="rounds") rounds
  select.rounds.input-medium
    for num in _.range(1,100)
      option(value=num)
        if(num !==1)
          | !{num} rounds
        else
          | !{num} round
else if(type === 'reps')
  label(for="reps") rounds
  select.reps.input-medium
    for num in _.range(1,201)
      option(value=num)
        if(num !==1)
          | !{num} reps
        else
          | !{num} rep
else if(type === 'weight')
  //- NO OP