include ../layout
include ../includes/nav
include ../workout/partials/task

mixin result(workout)
  if(workout.type === 'weight')
    for set in workout.result.sets
      span.badge.badge-info !{set.metrics.reps.value} @ !{set.metrics.weight.value} !{unitAbbr(set.metrics.weight.units)}
  else if(workout.type === 'duration')
    - var d = workout.result.duration
    - var dur = moment.duration(d.value, d.units)
    !{formats.duration(dur)}
  else if(workout.type === 'rounds')
    - var reps = workout.result.reps.value
    - var rounds = Math.floor( reps / workout.getRepsPerRound() )
    - reps = reps % rounds
    !{rounds} rounds
    !{reps} reps
  else
    !{JSON.stringify(workout.type)}
  if(workout.date)
    span.muted.pull-right 
      i.icon.icon-calendar
      |  !{moment(workout.date).fromNow()} &nbsp;

block body
  mixin nav('wod')
  .main-container
    .main.wrapper.clearfix
      article
        header
          h1 !{wodtype.label} of
        for task in workout.tasks
          a.movement(href="/movements/" + task.name.replace(/ /g, '-'))
            section.clearfix
              mixin task(task)
      article
        header
          h1 Recent Results
        for workout in workouts
          section.clearfix
            mixin result(workout)
            .clearfix
            a.remove.pull-right.prompt-confirm.muted(href="/wod/result/remove/" + workout.id, data-message = "are you sure you want to delete this result?")
              i.icon.icon-trash
              |  remove
            .clear