include ../layout
include ../includes/nav
include ../workout/partials/task

mixin result(workout)
  if(workout.type === 'weight')
    for set in workout.result.sets
      span.badge.badge-info !{set.metrics.reps.value} @ !{set.metrics.weight.value} !{unitAbbr(set.metrics.weight.units)}
  else if(workout.type === 'duration')
    - var d = workout.result.duration
    - var dur = moment.duration(d.value, d.units)
    !{formats.duration(dur)}
  else if(workout.type === 'rounds')
    - var reps = workout.result.reps.value
    - var rounds = Math.floor( reps / workout.getRepsPerRound() )
    - reps = reps % rounds
    !{rounds} rounds
    !{reps} reps
  else
    !{JSON.stringify(workout.type)}
  if(workout.date)
    span.pull-right !{moment(workout.date).fromNow()} &nbsp;

block body
  mixin nav('wod')
  .container.page-container
    .row-fluid
      h3 WOD: !{wodtype.label} of
      table.table.table-bordered.table-striped.table-condensed.movements
        tbody
          for task in workout.tasks
            tr
              td
                a(href="/movements/" + task.name.replace(/ /g, '-'))
                  mixin task(task)
      
      h3 Recent Results
      table.table.table-bordered.table-striped.table-condensed
        tbody
          for workout in workouts
            tr
              td
                a.prompt-confirm(href="/wod/result/remove/" + workout.id, data-message = "are you sure you want to delete this workout?").badge.badge-important.pull-right
                  i.icon-remove
                mixin result(workout)