//- include the nav mixin
include ../includes/nav
//- include the workout list item partial
include ../workout/partials/task
include ../workout/partials/pr-list
//- include the layout
extends ../layout
block body
  mixin nav('movements')
  .main-container
    .main.wrapper.clearfix
      article
        header
          h1 !{movement.label}
        if(movement.videoId)
          section.clearfix
              iframe(width="100%", height="200", src="http://www.youtube.com/embed/" + movement.videoId + "?html5=1&showinfo=0", frameborder="0", allowfullscreen)
              .clear
      article
        header
          h1 PRs
        if(records.length)
          for record in records
            - record = record.value
            if(record.type == 'weight')
            section.clearfix
              a.record(href="/wod/" + record.hash)
                div
                  .right-icon-container
                    i.icon-chevron-right
                  h2 !{record.metrics.reps.value} rep at !{record.metrics.weight.value} !{unitAbbr(record.metrics.weight.units)}
                  if record.date
                    span.muted.pull-left
                      i.icon.icon-calendar
                      |  !{moment(record.date).fromNow()}
                    .clear
                .clear
        else
          section.clearfix.muted
            p No 
              i !{movement.label} 
              | PRs logged yet.
      article
        header
          h1 Workouts
        if(workouts.length)
          each workout in workouts
            section.clearfix
              a.workout(href="/wod/" + workout.hash)
                div
                  .right-icon-container
                    i.icon-chevron-right
                  span !{workout.label}
                  p !{workout.description}
                  if workout.date
                    span.muted.pull-left
                      i.icon.icon-calendar
                      |  !{moment(workout.date).fromNow()}
                    .clear
        else
          section.clearfix
            p No !{movement.label} workouts logged yet.
      br
      br